#offers-page{
	padding: 5vw;

	h1{
		font-size: 4rem;
		font-weight: 700;
	}
	form{
		.form-group{
			label{

			}
			.form-control{
				padding: 10px !important;
				border: 2px solid black;
				font-size: 1.3 rem;
				box-sizing: border-box;
				height: auto;
			}
			button[type="submit"]{
				background: red;
			}
		}
	}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
	#offers-page{
		padding: 20px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	#offers-page{
		padding: 20px;
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
