footer{
	font-size: 11px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	li{
		padding: 4px 0;
	}
	p{
		color: black;
	}
	.copyright{
		font-size: 10px;
	}
	.-cat{
		text-transform: capitalize;
	}
	img{
		margin-right: .25rem;
		width: 1.75rem;
		display: inline-block;
		vertical-align: middle;
	}
	@media (min-width: 768px) {
		font-size: 13px;
	}
}

h3{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 12px;
}
