
.welcome-jumbo{
	transform: translate3d(300px, 0, 0);
	max-width: calc(100vw - 300px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(246,71,16);
	background: radial-gradient(circle, rgba(246,71,16,1) 0%, rgba(154,65,39,1) 100%);
	overflow: hidden;
	padding: 100px;

	.welcome-message{
		width: 100%;
		padding-top: 5%;
		padding-left: 4%;
	}
	.status{
		display: inline-block;
		padding: 10px;
		font-size: 2rem;
		font-weight: 700;
		color: #16d67a;
		background: black;
		border-radius: 5px;
		align-self: flex-start;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	h1{
		font-size: 4rem;
		font-weight: 1000;
		align-self: flex-start;
		margin-bottom: 100px;
		color: white;
		letter-spacing: 2px;
	}

	.burger-fries{
		width: 100%;
		max-width: 100%;
		animation: moveUpandDown 1s linear infinite;
		position: relative;
	}

	// @keyframes moveUpandDown {
	// 	0%, 100% {
	// 		bottom: 0;
	// 	}
	// 	50%{
	// 		bottom: 100px;
	// 	}
	// }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
