@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#menu-page {
  padding: 5vw;
}

#menu-page #food-preview {
  padding: 0;
  background: transparent;
}

#menu-page #food-preview h2 {
  color: white;
  text-transform: uppercase;
}

#menu-page #food-preview .button-rounded {
  margin-bottom: 2rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  #menu-page {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #menu-page {
    padding: 20px;
  }
}

#single-menu-page {
  padding: 5vw;
}

#single-menu-page h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

#single-menu-page .item {
  margin-bottom: 2rem;
}

#single-menu-page .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

#single-menu-page .title h4,
#single-menu-page .title .price {
  font-size: 1.5rem;
  color: black;
  font-weight: 900;
}

@media (min-width: 0px) and (max-width: 767px) {
  #single-menu-page {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #menu-page {
    padding: 20px;
  }
}

#about-page {
  padding: 5vw;
}

#about-page h1 {
  font-size: 4rem;
  font-weight: 700;
}

@media (min-width: 0px) and (max-width: 767px) {
  #about-page {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #about-page {
    padding: 20px;
  }
}

#contact-page {
  padding: 5vw;
}

#contact-page h1 {
  font-size: 4rem;
  font-weight: 700;
}

@media (min-width: 0px) and (max-width: 767px) {
  #contact-page {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #contact-page {
    padding: 20px;
  }
}

#waitlist-page {
  padding: 5vw;
  font-size: 16px;
}

#waitlist-page form .form-group .form-control {
  padding: 10px !important;
  border: 2px solid black;
  box-sizing: border-box;
  height: auto;
}

#waitlist-page form .form-group button[type=submit] {
  background: red;
}

#waitlist-page .exclusive-email {
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 767px) {
  #waitlist-page {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #waitlist-page {
    padding: 20px;
  }
}

#offers-page {
  padding: 5vw;
}

#offers-page h1 {
  font-size: 4rem;
  font-weight: 700;
}

#offers-page form .form-group .form-control {
  padding: 10px !important;
  border: 2px solid black;
  font-size: 1.3 rem;
  box-sizing: border-box;
  height: auto;
}

#offers-page form .form-group button[type=submit] {
  background: red;
}

@media (min-width: 0px) and (max-width: 767px) {
  #offers-page {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #offers-page {
    padding: 20px;
  }
}

#bs_carousel .carousel-indicators {
  color: black;
}

#bs_carousel .carousel-indicators li {
  color: black;
  background-color: black;
  border: thin solid white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#bs_carousel .carousel-item {
  height: 40vh;
  background-color: black;
}

@media (min-width: 768px) {
  #bs_carousel .carousel-item {
    height: 500px;
  }
}

#bs_carousel .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: white;
  font-family: "Hind Siliguri", sans-serif;
}

body h1 {
  font-size: 2rem;
  font-weight: 700;
}

body h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

#welcome .content .restaurant-image {
  height: 40vh;
}

#welcome .content .restaurant-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#welcome .content .find-more .circle-right {
  display: inline-block;
}

#page-welcome .page-content {
  min-height: 100vh;
}

#sidebar .site_title {
  font-size: 1.8rem;
  font-weight: bold;
}

#sidebar .list-unstyled li .-cat {
  text-transform: capitalize;
}

@media (min-width: 0px) and (max-width: 767px) {
  #app-layout .side-menu {
    display: none;
  }

  #app-layout #content-section {
    width: 100%;
    max-width: 100vw;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #app-layout #content-section {
    padding: 10px;
    width: 100%;
    max-width: calc(100% - 300px);
  }
}

@media (min-width: 768px) {
  #welcome {
    height: 100vh;
  }

  #welcome .content h2 {
    font-size: 3rem;
  }

  #welcome .content span {
    color: green;
  }
}

footer {
  font-size: 11px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

footer li {
  padding: 4px 0;
}

footer p {
  color: black;
}

footer .copyright {
  font-size: 10px;
}

footer .-cat {
  text-transform: capitalize;
}

footer img {
  margin-right: 0.25rem;
  width: 1.75rem;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  footer {
    font-size: 13px;
  }
}

h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
}

