#menu-page{
	padding: 5vw;
	#food-preview{
		padding: 0;
		background: transparent;
		h2{
			color: white;
			text-transform: uppercase;
		}
		.button-rounded{
			margin-bottom: 2rem;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
	#menu-page{
		padding: 20px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	#menu-page{
		padding: 20px;
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
